*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$primary-red: hsl(12, 88%, 59%);
$primary-dark-blue:  hsl(228, 39%, 23%);

$neutral-grayish-blue:hsl(227, 12%, 61%);
$neutral-dark-blue:hsl(233, 12%, 13%);
$netural-pale-red: hsl(13, 100%, 96%);
$neutral-light-gray: hsl(0, 0%, 98%); 


//doesnt work on firefox 
::-webkit-scrollbar {
    display: none;
}

body{
    font-family: 'Be Vietnam', sans-serif;
}

header{
    overflow: hidden;
    padding: 0 1.5em;
}

.learnToday,
.aboutCompany__intro{
  padding:  0 1.5em;
}

img{
    max-width: 100%;
    display: block;
}

h1{
    font-size: 2.7em;
    line-height: 1.2;
    margin-bottom: .5em;
    color: $primary-dark-blue;
    letter-spacing: -0.040em;
}

h2{
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: .5em;
}

h3{
    line-height: 1.2;
    letter-spacing: -0.040em;
    font-size: 1.55em;
}

h1,h2,h3,h4,h5{
    color: $primary-dark-blue;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: inherit;
    list-style-type: none;
    
}

p,blockquote{
    color: $neutral-grayish-blue;
    font-size: 1em;
    line-height: 1.5;
}

section{
    padding: 2em 0;
}


.aboutCompany::before{
    content: "";
    background: none;
}

.navigation svg:last-child{
    cursor: pointer;
}

.navigation{
        display: flex;
        justify-content: space-between;
        margin: 2em 0;
        &__list,
        &__link{
                display: none;
        }
        
}
.hero::before{
    content: "";
    background-image: url(../images/bg-tablet-pattern.svg);
    background-size: 100% 100%;
    display: block;
    background-repeat: no-repeat;
    /*size of image*/
    height: 450px;
    width:  450px;

    position: absolute;;
    top: -28%;
    left: 10%;

    z-index: -1;
}

.hero::after{
    content: "";
    background-image: url(../images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
  
    /*size of  image*/
    height: 350px;
    width:  350px;
  
    position: absolute;;
    top: 60%;
    left: 65%;

    z-index: -1;
}

.hero{
    position: relative;
    text-align: center;
    margin-bottom: 5em;
        &__container{
                display: grid;
                grid-template-rows: auto 1fr;
                
                grid-row-gap: 1em;
                padding: 2em 0;
        }

      

        &__link{
            background-color: $primary-red;
            color: $neutral-light-gray;
            padding: .7em 1.7em;
            border-radius: 20px; 
            box-shadow: 20px 20px 50px $netural-pale-red;
        }

        &__text p{
            margin-bottom: 2.5em;
            font-size: 1.125em;
        }

    
}




.aboutCompany{

       

            &__intro{
                    text-align: center;
                    margin-bottom: 5em;
                    
                   
            }

        

             &__container{
                 display: grid;
                 grid-template-rows: repeat(3, 1fr);
                 grid-row-gap: 3em;
                 //width: calc(100vw - 1em);
                // margin: 0 calc(-50vw + 50%);
                padding: 0 0 0 1.5em;

                
             &__item{
                 display:flex;
             }
             
                 
             }
                &__item span{
                    padding: .4em 1.3em;
                    background-color: $primary-red;
                    border-radius: 20px;
                    color: $neutral-light-gray;
                    margin-right: .5em;
                    
                    
                }

                &__item h3{
                    padding: .5em 0;
                    background-color: $netural-pale-red;
                    font-size: 1.125em;
                    margin-bottom: .5em;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }
}  

        .customerFeedback{
            text-align: center;
           

            &__img{
                margin: 0 auto;
            }
            &__h3{
                text-align: center;
                margin: .8em;
            }


    
            &__container{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
               grid-gap: 1em;
            
            position: relative;
            width: 100%;
            overflow-x: scroll;

           
            overflow-y: hidden;
          
            transition: all 0.2s;
            transform: scale(0.98);
            will-change: transform;
            user-select: none;
            cursor: pointer;
            padding: 4em 1.5em 1em 1.5em;
            }

            &__list{
                background-color: $neutral-light-gray;
                padding: 3em 1em;
                position: relative;


                display: inline-block;
            
               
                
                  min-height: 100%;
                  min-width: 335px;
            
            }

            &__img{
                position: absolute;
                top: -20%;
                left: 40%;
                width: 20%;
            }

    
            &__list h4{
                margin-bottom: .8em;
            }

            &__link{
                background-color: $primary-red;
                color: $neutral-light-gray;
                padding: .7em 1.7em;
                border-radius: 20px; 
                box-shadow: 20px 20px 50px $netural-pale-red;
                display: inline-block;
                
            }
            
        }

        .learnToday::before{
            content: "";
            background-image: url(../images/bg-tablet-pattern.svg);
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
            /*size of image*/
            height: 480px;
            width:  480px;
        
            position: absolute;;
            top: 15%;
            left: -100%;
            opacity: 0.060;
            z-index: 1;
        }


        .learnToday{
                text-align: center;
                padding: 4em 0;
                background-color: $primary-red;
                margin: 0 calc(-50vw + 50%);
                position: relative;

                &__h3{
                    color: $neutral-light-gray;
                    font-size: 2.2em;
                    margin-bottom: .8em;;
                }

                &__link{
                    background-color: $neutral-light-gray;
                    color: $primary-red;
                    font-weight: bold;
                    border-radius: 20px;
                    padding: .7em 1.7em;
                }
            }

            .footer{

                background-color: $neutral-dark-blue;
                margin: 0 calc(-50vw + 50%);
                color: $neutral-light-gray;
                display: flex;
                flex-direction: column;
                padding: 4em 0em;
                
        

                &__container{
                    display: grid;
                }

                &__form input{
                   padding: .85em 1.7em;
                   border-radius: 20px;
                   margin-right: .5em;
                   color: $neutral-grayish-blue;
                   border: 0;
                }

                &__form button{
                    padding: .5em 1.7em;
                    border-radius: 20px;
                    color: $neutral-light-gray;
                    background-color: $primary-red;
                    border: 0;
                }

                
                &__form{
                    display: flex;
                    order: -1;
                    margin: 0 auto;
                    
                }

                &__navigation{
                    display: flex;
                    justify-content: space-around;
                    order: 0;
                }

                &__left{
                    order: 1;
                    margin: 0 auto;
                }

                
                &__social{
                    display: flex;
                    order: 2;
                }

                &__copyright{
                    order: 3;
                    text-align: center;
                    color: $neutral-grayish-blue;
                }

                &__links li{
                    list-style-type: none;
                    font-size: .85em;
                    margin-bottom: .85em;
                     color: $neutral-light-gray;
                 
                }

                &__social svg{
                    margin: 0 auto;
                }

                &__social svg{
                   margin-right: .8em;
               }

               &__social svg::last-child{
                   margin: 0;
               }
        


               &__social,
               &__navigation,
               &__form,
               &__left{
                   margin-bottom: 2em;
               }
            
            }





@media (min-width: 1000px){

    body{
        overflow-x: hidden;
    }

    h1{
            font-size: 4em;
            line-height: 1.2;
            margin-bottom: .5em;
    }

    
    h2{
        font-size: 2.2em;
    }
    
    p{
        font-size: 1em;
        line-height: 1.7;
    }

    
    
.learnToday,
.aboutCompany__intro{
  padding:  0;
}

    .navigation svg:last-child{
        display: none;
    }

  
    header{
        overflow: hidden;
    }

    main{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;

        section{
            margin: 5em 0;
        }
    }



    
    .navigation{

            max-width: 1200px;
            margin: 0em auto;
            display: flex;
            align-items: center;
            padding: 4em 0;
            


            &__list{
                display: block;
            }
            
            &__link{
                display: block;
                background-color: $primary-red;
                color: $neutral-light-gray;
                padding: .7em 1.7em;
                border-radius: 20px; 
                box-shadow: 20px 20px 50px $netural-pale-red;
            }

            &__item:hover{
                color: $neutral-grayish-blue;
            }

            &__list ul li{
                display: inline;
                margin-right: 1.7em;
                color: $primary-dark-blue;
                font-weight: 500;
            }

            &__list ul li:last-child{
                margin: 0;
            }

            &__link:hover{
               opacity: 0.75;
               transition: 0.2s ease-in-out;
            }
            
        
    }

    .hero::before{
        content: "";
        background-image: url(../images/bg-tablet-pattern.svg);
        background-size: 100% 100%;
        display: block;
        background-repeat: no-repeat;
        /*size of image*/
        height: 700px;
        width:  700px;
    
        position: absolute;;
        top: -45%;
        left: 60%;
    
        z-index: -1;
    }
    
    .hero::after{
        background: none;
    }
  


    .hero{
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
      
        &__container{
           display: flex;
           justify-content: space-between;
           align-items: center;
         
        }

        &__container img{
            order: 1;
        }

        &__text{
            max-width: 35em;
            text-align: left;
        }

        &__text p{
            max-width: 22em;
       
            }

        

        &__link:hover{
           
                opacity: 0.75;
                transition: 0.2s ease-in-out;
             
        }
    }



    .aboutCompany::before{
        content: "";
        background-image: url(../images/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
    
        /*size of  image*/
        height: 600px;
        width:  600px;
    
        position: absolute;;
        top: 55%;
        left: -40%;

        z-index: -1;

}

    .aboutCompany{

       display: flex;
       position: relative;

    
        
        &__container h3{
            background: none;
      
        }

        &__container p{
            margin-left: 6.2em;
            max-width: 75em;
        }
   
      

        &__intro{
            text-align: left;
            margin-right: 10em;
        }

        &__item span{
            margin-right: 1.7em;
        }

        
          
    }


            .customerFeedback{
               
        


                &__container{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: 1fr;
                    grid-gap: 1.5em;
                   


                    position: relative;
                    width: 100%;
                    overflow-x: hidden;
                    overflow-y: hidden;
                   
                    //width: calc(100vw - 1.5em);
                    //margin: 0 calc(-50vw + 50%);

                    transition: all 0.2s;
                    transform: scale(0.98);
                    will-change: transform;
                    user-select: none;
                    cursor: pointer;

                    
                    
                    padding: 2em 0;
                    
                    
                }

                &__carousel{
                   display: none;
                  
                }


                    &__list{
                        display: inline-block;
                        
                     
                        margin: 2em 0;
                       
                        min-height: 2em;
                        min-width: 30em;
                    

            }

             &__img{
              
                    position: absolute;
                    top: -15%;
                    left: 45%;
                    width: 12%;
             }

             &__link:hover{
              
                    opacity: 0.75;
                    transition: 0.2s ease-in-out;
                 
            }
             
        }

    
                .learnToday{
                    background: url(../images/bg-simplify-section-desktop.svg) no-repeat;
                    background-position: center;
                
                    background-color: $primary-red;

                  
                    &__container{
                        max-width: 1200px;
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        
                  display: grid;
                  grid-template-columns: 1fr auto;
                    }
                    &__link{
                        height: 50px;
                      
                    }


                    &__h3{
                        max-width: 12em;
                        text-align: left;
                    }
                }
            

            .footer{
              
           

                &__container{
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: none;
                    max-width: 1200px;
                    margin: 0 auto;
              
                   
                    padding: 0;       
            }

              
                &__button:hover{
                
                        cursor: pointer;
                      
                     
                
                }

                &__links li:hover{
                    color: $primary-red;
                }
           

               &__left{
                   display: flex;
                   flex-direction: column;
                   justify-content: space-between;
                   grid-column: 1/2;
                   grid-row: 1;
               }


               &__navigation{
                   grid-column: 3/5;
                   grid-row: 1;
                     
               }

               &__copyright{
                   grid-column: 6/6;
                   grid-row: 2;
                  
               }

               &__form{
                   grid-column: 6/6;
                   grid-row: 1;
                   height: 40px;
                   margin-bottom: 1em;;
                   
                  


               }

               &__social{
                   margin: 0;
                   justify-self: start;
               }

               &__social svg{
                   margin-right: .8em;
               }

               &__social svg::last-child{
                   margin: 0;
               }

               &__social,
               &__navigation,
               &__form,
               &__left{
                   margin-bottom: 0em;
               }
             
            }
        }



       

    