*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Be Vietnam', sans-serif;
}

header {
  overflow: hidden;
  padding: 0 1.5em;
}

.learnToday,
.aboutCompany__intro {
  padding: 0 1.5em;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 2.7em;
  line-height: 1.2;
  margin-bottom: .5em;
  color: #242d52;
  letter-spacing: -0.040em;
}

h2 {
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: .5em;
}

h3 {
  line-height: 1.2;
  letter-spacing: -0.040em;
  font-size: 1.55em;
}

h1, h2, h3, h4, h5 {
  color: #242d52;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

p, blockquote {
  color: #9095a7;
  font-size: 1em;
  line-height: 1.5;
}

section {
  padding: 2em 0;
}

.aboutCompany::before {
  content: "";
  background: none;
}

.navigation svg:last-child {
  cursor: pointer;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em 0;
}

.navigation__list, .navigation__link {
  display: none;
}

.hero::before {
  content: "";
  background-image: url(../images/bg-tablet-pattern.svg);
  background-size: 100% 100%;
  display: block;
  background-repeat: no-repeat;
  /*size of image*/
  height: 450px;
  width: 450px;
  position: absolute;
  top: -28%;
  left: 10%;
  z-index: -1;
}

.hero::after {
  content: "";
  background-image: url(../images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  /*size of  image*/
  height: 350px;
  width: 350px;
  position: absolute;
  top: 60%;
  left: 65%;
  z-index: -1;
}

.hero {
  position: relative;
  text-align: center;
  margin-bottom: 5em;
}

.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  grid-row-gap: 1em;
  padding: 2em 0;
}

.hero__link {
  background-color: #f25f3a;
  color: #fafafa;
  padding: .7em 1.7em;
  border-radius: 20px;
  -webkit-box-shadow: 20px 20px 50px #ffefeb;
          box-shadow: 20px 20px 50px #ffefeb;
}

.hero__text p {
  margin-bottom: 2.5em;
  font-size: 1.125em;
}

.aboutCompany__intro {
  text-align: center;
  margin-bottom: 5em;
}

.aboutCompany__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 3em;
  padding: 0 0 0 1.5em;
}

.aboutCompany__container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutCompany__item span {
  padding: .4em 1.3em;
  background-color: #f25f3a;
  border-radius: 20px;
  color: #fafafa;
  margin-right: .5em;
}

.aboutCompany__item h3 {
  padding: .5em 0;
  background-color: #ffefeb;
  font-size: 1.125em;
  margin-bottom: .5em;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.customerFeedback {
  text-align: center;
}

.customerFeedback__img {
  margin: 0 auto;
}

.customerFeedback__h3 {
  text-align: center;
  margin: .8em;
}

.customerFeedback__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 4em 1.5em 1em 1.5em;
}

.customerFeedback__list {
  background-color: #fafafa;
  padding: 3em 1em;
  position: relative;
  display: inline-block;
  min-height: 100%;
  min-width: 335px;
}

.customerFeedback__img {
  position: absolute;
  top: -20%;
  left: 40%;
  width: 20%;
}

.customerFeedback__list h4 {
  margin-bottom: .8em;
}

.customerFeedback__link {
  background-color: #f25f3a;
  color: #fafafa;
  padding: .7em 1.7em;
  border-radius: 20px;
  -webkit-box-shadow: 20px 20px 50px #ffefeb;
          box-shadow: 20px 20px 50px #ffefeb;
  display: inline-block;
}

.learnToday::before {
  content: "";
  background-image: url(../images/bg-tablet-pattern.svg);
  background-size: 100% 100%;
  display: block;
  background-repeat: no-repeat;
  /*size of image*/
  height: 480px;
  width: 480px;
  position: absolute;
  top: 15%;
  left: -100%;
  opacity: 0.060;
  z-index: 1;
}

.learnToday {
  text-align: center;
  padding: 4em 0;
  background-color: #f25f3a;
  margin: 0 calc(-50vw + 50%);
  position: relative;
}

.learnToday__h3 {
  color: #fafafa;
  font-size: 2.2em;
  margin-bottom: .8em;
}

.learnToday__link {
  background-color: #fafafa;
  color: #f25f3a;
  font-weight: bold;
  border-radius: 20px;
  padding: .7em 1.7em;
}

.footer {
  background-color: #1d1e25;
  margin: 0 calc(-50vw + 50%);
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4em 0em;
}

.footer__container {
  display: -ms-grid;
  display: grid;
}

.footer__form input {
  padding: .85em 1.7em;
  border-radius: 20px;
  margin-right: .5em;
  color: #9095a7;
  border: 0;
}

.footer__form button {
  padding: .5em 1.7em;
  border-radius: 20px;
  color: #fafafa;
  background-color: #f25f3a;
  border: 0;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin: 0 auto;
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.footer__left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0 auto;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.footer__copyright {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  text-align: center;
  color: #9095a7;
}

.footer__links li {
  list-style-type: none;
  font-size: .85em;
  margin-bottom: .85em;
  color: #fafafa;
}

.footer__social svg {
  margin: 0 auto;
}

.footer__social svg {
  margin-right: .8em;
}

.footer__social svg::last-child {
  margin: 0;
}

.footer__social, .footer__navigation, .footer__form, .footer__left {
  margin-bottom: 2em;
}

@media (min-width: 1000px) {
  body {
    overflow-x: hidden;
  }
  h1 {
    font-size: 4em;
    line-height: 1.2;
    margin-bottom: .5em;
  }
  h2 {
    font-size: 2.2em;
  }
  p {
    font-size: 1em;
    line-height: 1.7;
  }
  .aboutCompany__intro,
  .aboutCompany__container {
    padding: 0;
  }
  .navigation svg:last-child {
    display: none;
  }
  header {
    overflow: hidden;
  }
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
  main section {
    margin: 5em 0;
  }
  .navigation {
    max-width: 1200px;
    margin: 0em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4em 0;
  }
  .navigation__list {
    display: block;
  }
  .navigation__link {
    display: block;
    background-color: #f25f3a;
    color: #fafafa;
    padding: .7em 1.7em;
    border-radius: 20px;
    -webkit-box-shadow: 20px 20px 50px #ffefeb;
            box-shadow: 20px 20px 50px #ffefeb;
  }
  .navigation__item:hover {
    color: #9095a7;
  }
  .navigation__list ul li {
    display: inline;
    margin-right: 1.7em;
    color: #242d52;
    font-weight: 500;
  }
  .navigation__list ul li:last-child {
    margin: 0;
  }
  .navigation__link:hover {
    opacity: 0.75;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .hero::before {
    content: "";
    background-image: url(../images/bg-tablet-pattern.svg);
    background-size: 100% 100%;
    display: block;
    background-repeat: no-repeat;
    /*size of image*/
    height: 700px;
    width: 700px;
    position: absolute;
    top: -45%;
    left: 60%;
    z-index: -1;
  }
  .hero::after {
    background: none;
  }
  .hero {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__container img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .hero__text {
    max-width: 35em;
    text-align: left;
  }
  .hero__text p {
    max-width: 22em;
  }
  .hero__link:hover {
    opacity: 0.75;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .aboutCompany::before {
    content: "";
    background-image: url(../images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    /*size of  image*/
    height: 600px;
    width: 600px;
    position: absolute;
    top: 55%;
    left: -40%;
    z-index: -1;
  }
  .aboutCompany {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .aboutCompany__container h3 {
    background: none;
  }
  .aboutCompany__container p {
    margin-left: 6.2em;
    max-width: 75em;
  }
  .aboutCompany__intro {
    text-align: left;
    margin-right: 10em;
  }
  .aboutCompany__item span {
    margin-right: 1.7em;
  }
  .customerFeedback__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 1.5em;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    will-change: transform;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    padding: 2em 0;
  }
  .customerFeedback__carousel {
    display: none;
  }
  .customerFeedback__list {
    display: inline-block;
    margin: 2em 0;
    min-height: 2em;
    min-width: 30em;
  }
  .customerFeedback__img {
    position: absolute;
    top: -15%;
    left: 45%;
    width: 12%;
  }
  .customerFeedback__link:hover {
    opacity: 0.75;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .learnToday {
    background: url(../images/bg-simplify-section-desktop.svg) no-repeat;
    background-position: center;
    background-color: #f25f3a;
  }
  .learnToday__container {
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
  }
  .learnToday__link {
    height: 50px;
  }
  .learnToday__h3 {
    max-width: 12em;
    text-align: left;
  }
  .footer__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: none;
        grid-template-rows: none;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
  .footer__button:hover {
    cursor: pointer;
  }
  .footer__links li:hover {
    color: #f25f3a;
  }
  .footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .footer__navigation {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .footer__copyright {
    -ms-grid-column: 6;
    grid-column: 6/6;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .footer__form {
    -ms-grid-column: 6;
    grid-column: 6/6;
    -ms-grid-row: 1;
    grid-row: 1;
    height: 40px;
    margin-bottom: 1em;
  }
  .footer__social {
    margin: 0;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .footer__social svg {
    margin-right: .8em;
  }
  .footer__social svg::last-child {
    margin: 0;
  }
  .footer__social, .footer__navigation, .footer__form, .footer__left {
    margin-bottom: 0em;
  }
}
/*# sourceMappingURL=styles.css.map */